___
# Ciência dos Dados - PROJETO 1

## COLOQUE AQUI SEU NOME
___

Pedro Furquim de Campos Suarez

## TÍTULO DO SEU PROJETO

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

___
## Análise e Resultados

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [3]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Pedro Suarez\Documents\2 semestre\Ciências dos dados\Projeto 1

In [15]:
dados=pd.read_csv('DOM2015.csv',sep=',')

tabelared=pd.DataFrame({
    'Condições_de_ocupação_do_domicílio':dados.V0207,
    'Telefone_celular':dados.V0220,
    'Telefone_fixo':dados.V2020,
    'TV_por_assinatura':dados.V02272,
    'TV_aberta':dados.V02273,
    'Renda_domiciliar_mensal': dados.V4621,
    'Estado':dados.UF
    })

tabelared.Condições_de_ocupação_do_domicílio = tabelared.Condições_de_ocupação_do_domicílio.astype('category')
tabelared.Condições_de_ocupação_do_domicílio.cat.categories = ('Próprio - já pago', 'Próprio - ainda pagando', 'Alugado', 'Cedido por empregador', 'Cedido de outra forma', 'Outra condição')

tabelared.Telefone_celular = tabelared.Telefone_celular.astype('category')
tabelared.Telefone_celular.cat.categories = ('Sim', 'Não')

tabelared.Telefone_fixo = tabelared.Telefone_fixo.astype('category')
tabelared.Telefone_fixo.cat.categories = ('Sim', 'Não')

tabelared.TV_por_assinatura = tabelared.TV_por_assinatura.astype('category')
tabelared.TV_por_assinatura.cat.categories = ('Sim', 'Não')

tabelared.TV_aberta = tabelared.TV_aberta.astype('category')
tabelared.TV_aberta.cat.categories = ('Sim', 'Não', 'Não sabe')

newtab=tabelared.dropna()
oficial=newtab[(newtab.Estado>=31) & (newtab.Estado<=35)] # Sudeste
#tabelared

In [16]:
ct = pd.crosstab(oficial.Condições_de_ocupação_do_domicílio, oficial.Telefone_fixo)
ct

Telefone_fixo                         Sim    Não
Condições_de_ocupação_do_domicílio
Próprio - já pago                   13836  10669
Próprio - ainda pagando              1046    912
Alugado                              2342   4391
Cedido por empregador                 109    543
Cedido de outra forma                 594   1091
Outra condição                         32     58

In [17]:
ct = pd.crosstab(oficial.Condições_de_ocupação_do_domicílio, oficial.Telefone_celular)
ct

Telefone_celular                      Sim   Não
Condições_de_ocupação_do_domicílio
Próprio - já pago                   22640  1865
Próprio - ainda pagando              1930    28
Alugado                              6488   245
Cedido por empregador                 577    75
Cedido de outra forma                1519   166
Outra condição                         81     9

___
## Conclusão

Descreva aqui suas conclusões!